@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat:100,200,300,400,500,600,700,800,900|Arbutus Slab');

body {
    background-color: black;
    color: #ffffff;
    font-weight: 300;
    font-family: Montserrat;
}
h1, h2, h3 {
    color: #000000;
    font-weight: 600;
}

*{
    box-sizing: border-box;
}

h1{
    color:white;
    position: relative;
    margin: 10px 0px;
    line-height: 1.1em;
    font-family: 'Arbutus Slab';
    margin-left: -20px;
    font-size: calc(18px + 1.5vh);
    font-weight: 100;
}

h2 {
    font-size: 20pt;
    margin-bottom: 10pt;
    color: white;
}

h3 {
    font-size: 14pt;
    margin-bottom: 10pt;
}

p {
    line-height: 1.3;
}

b {
    font-weight: 700;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}



#navi {
    position: fixed;
    display: none;
    height: 100vh;
    width: 40px;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

#navicontainer {
    display: flex;
    flex-direction: column;
}

#navicontainer svg{
    width: 70%;
    margin-left: 15%;
    height: auto;
    top: 50%;
    margin-top: -14px;
    position: relative;
}

.nav-visible {
    display: flex;
}

.small-nav{
height: 20px!important;
}

.small-nav img{
    width: 5px;
    display: flex;
    margin: auto;
    margin-top: 5px;
}

.nav-highlight {
    background-color:rgba(25, 112, 55, 0.8);
}

#navicontainer a {
    display: inline-block;
    height: 8vh;
}

#site {
    width: 100vw;
    color: #000000;
    background-color: black;
    min-height: 100vh;
}

.contentcontainer {
    padding: 10vh 10vw;
    padding-left: 80px;
    width: 100%;
    height: 100%;
}

.contentcontainer h2{
    font-size: calc(22px + 1.5vh);
    color: white;
    font-family: 'Arbutus Slab';
    margin-bottom: 50px;
    margin-top: -50px;
}

.darkbg {
    background-color: #00000077;
    height: 100%;
    width: 100%;
}

#hero {
    background-image: url('../backgrounds/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.subtext{
    color: white;
    font-size: calc(5px + 1.5vh);
    margin: 15px 0px;
    line-height: 1.3em;
    margin-left: -20px;
    font-weight: 300;
}


.subtext a {

    color: #fff;
    text-decoration: underline;


}

.purpouse{
    color:white;
    position: relative;
    margin-top: 20px;
    line-height: 1.4em;
    font-family: 'Arbutus Slab';
    font-size: calc(13px + 1.5vh);
    font-weight: 100;
    text-align: left;
}




#x_purpouse {
    background-image: url('../backgrounds/desktop/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#x_purpouse .section04 a span{
    margin-left: 0;
}
#x_purpouse svg{
    width: 150px;
    margin: auto;
    display: flex;
}
#x_morning {
    background-image: url('../backgrounds/desktop/plastic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_morning2 {
    background-image: url('../backgrounds/desktop/cliff.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#commute{
    background-image: url('../backgrounds/desktop/auto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#x_gotowork {
    background-image: url('../backgrounds/desktop/auto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#x_gotowork2 {
    background-image: url('../backgrounds/desktop/auto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_work {
    background-image: url('../backgrounds/desktop/ozean.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_work2 {
    background-image: url('../backgrounds/desktop/ozean.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_break {
    background-image: url('../backgrounds/desktop/chill.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_break2 {
    background-image: url('../backgrounds/desktop/chill.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_afterwork {
    background-image: url('../backgrounds/desktop/fleisch.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_afterwork2 {
    background-image: url('../backgrounds/desktop/fleisch.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_sports {
    background-image: url('../backgrounds/desktop/wandern.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_sports2 {
    background-image: url('../backgrounds/desktop/wandern.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_evening {
    background-image: url('../backgrounds/desktop/wasser.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#x_evening2 {
    background-image: url('../backgrounds/desktop/wasser.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.secti{
    font-size: 3em;
    color: white;
    font-family: 'Patua One', cursive;
    margin-bottom: 50px;
}

.stat{
    width: 90%;
    color: white;
    display: flex;
    flex-direction: row;
}

.stat-num{
    font-size: 4em;
    width: auto;
    font-weight: bold;
    margin-right: 20px;
}

.stat-text{
    font-size: 1em;
    width: auto;
}

.product-slider{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 50px;
    padding: 30px;
}

.owl-carousel{
    width: calc(100% + 60px);
    margin-left: -20px;
}

.owl-carousel .owl-stage{
    display: flex;
    flex-wrap: wrap;
}

.owl-carousel.owl-drag .owl-item{
    display: flex;
    margin-top: 50px;
}

.owl-carousel .product{
    background-color:rgba(255, 255, 255, 0.9);
    width: 250px;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    color: black;
    cursor: pointer !important;
    font-size: calc(1px + 1.5vh);
    font-weight: 300;
    text-overflow: ellipsis;
    height: 100%;
}

.owl-carousel .product .title{
    font-size: calc(4px + 1.5vh);
    color: black;
    margin-bottom: 8px;
}

.owl-carousel .product img{
    width: 100%;
    margin-bottom: 15px;
}

.logo{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-left: -20px;
    margin-top:-40px;
    margin-bottom: 20px;
}

.logo svg{
    width: 50px;
}

.logo span{
    color: white;
    font-size: calc(14px + 1.5vh);
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}

.fact{
    color: white;
    font-size: calc(16px + 1.5vh);
    word-wrap: break-word;
    hyphens: auto;
}

.cta-products{
    color: white;
    font-size: calc(3px + 1.5vh);
    margin-top: 40px;
}

#hero .sharemenu{
    width: 130px;
    display: flex;
    position: relative;
    bottom: 0px;
    margin-top: 20px;
}

.sharemenu{
    width: 100%;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
    flex-flow: row-reverse;
}

.fa-twitter, .fa-facebook-square, .fa-whatsapp-square, .fa-linkedin{
    color:white;
    font-size: 1.6em;
    margin: 0px 5px;
}

.graph{
    margin-top: 20px;
    margin-left: -20px;
    width: 30vw;

}

#gotowork .graph {
    width: 70vw;
}


@media only screen and (orientation: landscape){
	#x_gotowork .graph{
		width: 300px;
    }
    
    #x_afterwork .graph{
		width: 300px;
	}

	.contentcontainer{
        padding-left: 0px;
        width: 80%;
        margin: auto;
        position: relative;
        padding-right: 0;
    }

    .logo, h1, .start-day{
        margin-left: 0;
        width: 100%;
    }

    #hero .sharemenu{
        margin-left:0!important;
    }

    .logo, h2{
        margin-top: 00px !important;
    }
}

@media only screen and (max-width: 600px) {

    #x_purpouse {
        background-image: url('../backgrounds/background.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #x_purpouse .section04 a span{
        margin-left: 0;
    }
    #x_purpouse svg{
        width: 150px;
        margin: auto;
        display: flex;
    }
    #x_morning {
        background-image: url('../backgrounds/plastic.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_morning2 {
        background-image: url('../backgrounds/cliff.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #commute{
        background-image: url('../backgrounds/auto.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #x_gotowork {
        background-image: url('../backgrounds/auto.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #x_gotowork2 {
        background-image: url('../backgrounds/auto.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_work {
        background-image: url('../backgrounds/screen-2.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_work2 {
        background-image: url('../backgrounds/screen-2.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_break {
        background-image: url('../backgrounds/chill.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_break2 {
        background-image: url('../backgrounds/chill.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_afterwork {
        background-image: url('../backgrounds/fleisch.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_afterwork2 {
        background-image: url('../backgrounds/fleisch.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_sports {
        background-image: url('../backgrounds/wandern.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_sports2 {
        background-image: url('../backgrounds/wandern.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_evening {
        background-image: url('../backgrounds/wasser.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #x_evening2 {
        background-image: url('../backgrounds/wasser.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .graph {
        width: 70vw;
    }

    .owl-carousel .product { 
        width: 50vw;


    }
    


}

@media only screen and (max-width: 400px){

    .section04 a span {
        bottom: 35px;
    }

    .contentcontainer h2{
        margin-bottom: 30px;
        font-size: calc(22px + 0.9vh);
    }

    .fact{
        font-size: calc(16px + 0.9vh);
    }

    .cta-products{
        margin-top: 20px;
    }

    .owl-carousel.owl-drag .owl-item{
        margin-top: 25px;
    }
}